In [30]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
data = pd.read_csv('healthcare_dataset.csv')
above_30 = []
for i in data['Age']:
    if i < 30:
        above_30.append(i)
        
len(above_30)

9693

In [3]:
df = pd.DataFrame(data)

In [4]:
df.loc[2:6]

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
5,EMILY JOHNSOn,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.110951,389,Urgent,2023-12-24,Ibuprofen,Normal
6,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.872345,389,Emergency,2020-11-15,Paracetamol,Inconclusive

In [25]:
arr = np.array(df['Date of Admission'])
type(arr[0])

str

In [31]:
year = []
for i in arr:
    st = i.split('-')
    year.append(st[0])
    
df['Year'] = year

In [34]:
uniq_year = pd.unique(df['Year'])

In [37]:
for i in uniq_year:
    print(i , " -> " ,len(df[df['Year'] == i] ))

2024  ->  3854
2019  ->  7387
2022  ->  11017
2020  ->  11285
2023  ->  11026
2021  ->  10931

In [5]:
range_1_20 = []
range_21_40 = []
range_41_60 = []
range_61_80 = []
range_81_100 = []
for i in df['Age']:
    if i >= 1 and i <= 20:
        range_1_20.append(i)
    elif i >= 21 and i <= 40:
        range_21_40.append(i)
    elif i >= 41 and i <= 60:
        range_41_60.append(i)
    elif i >= 61 and i <= 80:
        range_61_80.append(i)
    else:
        range_81_100.append(i)

In [6]:
len(range_1_20) + len(range_21_40) + len(range_41_60) + len(range_61_80) + len( range_81_100)

55500

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [8]:
df.describe()

                Age  Billing Amount   Room Number
count  55500.000000    55500.000000  55500.000000
mean      51.539459    25539.316097    301.134829
std       19.602454    14211.454431    115.243069
min       13.000000    -2008.492140    101.000000
25%       35.000000    13241.224652    202.000000
50%       52.000000    25538.069376    302.000000
75%       68.000000    37820.508436    401.000000
max       89.000000    52764.276736    500.000000

In [9]:
Counter(df['Blood Type'])

Counter({'A-': 6969,
         'A+': 6956,
         'AB+': 6947,
         'AB-': 6945,
         'B+': 6945,
         'B-': 6944,
         'O+': 6917,
         'O-': 6877})

In [10]:
dic = Counter(df['Age'])

In [11]:
maxs = 0
key = 0
for i in dic.items():
    if maxs < i[1]:
        maxs = i[1]
        key = i[0]

In [12]:
maxs,key

(897, 38)

In [13]:
dic.items()

dict_items([(30, 806), (62, 816), (76, 832), (28, 760), (43, 847), (36, 799), (21, 822), (20, 750), (82, 797), (58, 852), (72, 766), (38, 897), (75, 832), (68, 805), (44, 836), (46, 830), (63, 842), (34, 864), (67, 778), (48, 803), (59, 809), (73, 845), (51, 798), (23, 790), (78, 798), (25, 836), (33, 810), (26, 815), (70, 829), (57, 887), (74, 787), (81, 818), (49, 836), (65, 837), (31, 793), (22, 817), (77, 789), (42, 821), (24, 837), (84, 780), (55, 813), (40, 752), (83, 792), (18, 772), (27, 786), (19, 805), (29, 787), (61, 783), (80, 864), (60, 778), (35, 811), (79, 836), (53, 845), (69, 840), (47, 804), (85, 743), (52, 817), (37, 893), (50, 831), (32, 755), (54, 842), (45, 792), (66, 856), (39, 751), (56, 856), (64, 842), (71, 758), (41, 809), (88, 25), (17, 32), (87, 31), (86, 41), (15, 28), (16, 24), (13, 14), (14, 18), (89, 8)])

In [14]:
df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [15]:
df.head(10)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
5,EMILY JOHNSOn,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.110951,389,Urgent,2023-12-24,Ibuprofen,Normal
6,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.872345,389,Emergency,2020-11-15,Paracetamol,Inconclusive
7,CHrisTInA MARtinez,20,Female,A+,Cancer,2021-12-28,Suzanne Thomas,"Powell Robinson and Valdez,",Cigna,45820.462722,277,Emergency,2022-01-07,Paracetamol,Inconclusive
8,JASmINe aGuIlaR,82,Male,AB+,Asthma,2020-07-01,Daniel Ferguson,Sons Rich and,Cigna,50119.222792,316,Elective,2020-07-14,Aspirin,Abnormal
9,ChRISTopher BerG,58,Female,AB-,Cancer,2021-05-23,Heather Day,Padilla-Walker,UnitedHealthcare,19784.631062,249,Elective,2021-06-22,Paracetamol,Inconclusive

In [16]:
df.tail(10)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
55490,STepHAniE oliVer,82,Male,B-,Cancer,2022-01-10,Gary Leblanc,Group Lee,Cigna,17350.543524,381,Emergency,2022-01-21,Penicillin,Abnormal
55491,lInDA grIFfin,47,Female,O+,Obesity,2020-06-21,Danielle Davis,"and King Jordan Johnson,",Aetna,15715.551079,310,Emergency,2020-06-25,Lipitor,Abnormal
55492,LAuREn MCcormIcK,51,Male,O+,Arthritis,2020-12-06,Kevin Flores,Inc Barnett,Cigna,2588.150832,289,Emergency,2020-12-12,Paracetamol,Normal
55493,gLoRIA BOWen,57,Female,B-,Arthritis,2022-07-23,Lucas Thompson,Group Gonzalez,Medicare,3954.853764,463,Emergency,2022-08-18,Aspirin,Abnormal
55494,JEssIcA WHiTe,67,Male,O+,Arthritis,2023-12-11,Jesus Jordan,Miller-Harris,Medicare,42535.301234,378,Emergency,2024-01-04,Ibuprofen,Normal
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [17]:
pd.unique(df['Medical Condition'])

array(['Cancer', 'Obesity', 'Diabetes', 'Asthma', 'Hypertension',
       'Arthritis'], dtype=object)

In [18]:
pd.unique(df['Room Number'])

array([328, 265, 205, 450, 458, 389, 277, 316, 249, 394, 288, 134, 309,
       182, 465, 114, 449, 260, 115, 295, 327, 119, 109, 162, 401, 157,
       223, 293, 371, 108, 245, 494, 285, 228, 481, 212, 113, 272, 478,
       196, 418, 410, 300, 211, 413, 138, 456, 234, 492, 180, 250, 296,
       330, 405, 306, 333, 244, 325, 378, 468, 368, 263, 489, 241, 231,
       377, 407, 135, 131, 102, 255, 422, 320, 273, 395, 152, 321, 428,
       482, 268, 120, 318, 144, 226, 459, 208, 227, 402, 442, 425, 373,
       290, 361, 251, 440, 414, 424, 307, 476, 388, 326, 178, 177, 302,
       130, 430, 133, 104, 408, 376, 331, 275, 480, 233, 384, 380, 310,
       406, 213, 427, 500, 451, 485, 267, 154, 466, 453, 261, 167, 179,
       490, 258, 483, 202, 198, 308, 278, 103, 400, 192, 128, 238, 136,
       218, 348, 486, 147, 126, 314, 271, 341, 498, 168, 189, 438, 286,
       266, 392, 156, 315, 322, 184, 472, 398, 435, 174, 137, 111, 464,
       117, 493, 183, 471, 164, 356, 497, 421, 488, 317, 247, 158, 242,
       151, 221, 359, 370, 141, 343, 319, 121, 166, 397, 186, 299, 101,
       142, 181, 282, 350, 262, 210, 391, 195, 214, 409, 279, 243, 106,
       467, 176, 287, 124, 352, 165, 347, 354, 225, 357, 140, 404, 426,
       236, 194, 188, 415, 185, 358, 390, 112, 283, 439, 123, 469, 230,
       171, 484, 256, 365, 452, 172, 197, 110, 437, 419, 416, 461, 431,
       105, 313, 385, 116, 386, 175, 270, 338, 360, 252, 215, 434, 374,
       217, 366, 118, 387, 237, 355, 364, 169, 301, 463, 382, 232, 455,
       462, 393, 423, 264, 289, 342, 292, 146, 193, 148, 441, 199, 216,
       132, 475, 436, 403, 433, 206, 207, 375, 159, 304, 349, 396, 445,
       276, 298, 129, 209, 420, 324, 443, 254, 470, 346, 496, 448, 280,
       335, 411, 200, 312, 305, 345, 145, 203, 362, 454, 191, 339, 477,
       219, 412, 379, 340, 170, 190, 363, 491, 487, 334, 125, 332, 224,
       204, 323, 248, 297, 311, 201, 143, 107, 303, 329, 122, 337, 457,
       274, 246, 294, 161, 336, 383, 187, 229, 291, 155, 173, 353, 281,
       446, 399, 479, 429, 150, 253, 149, 369, 220, 127, 153, 474, 372,
       381, 473, 351, 259, 257, 367, 222, 460, 447, 495, 344, 163, 139,
       444, 284, 499, 432, 269, 160, 240, 239, 417, 235])

In [19]:
pd.unique(df['Insurance Provider'])

array(['Blue Cross', 'Medicare', 'Aetna', 'UnitedHealthcare', 'Cigna'],
      dtype=object)

In [20]:
In_Cigna = df[df['Insurance Provider'] == 'Cigna']
len(In_Cigna)

11249

In [21]:
In_Cigna.shape

(11249, 15)

In [22]:
hosp_arr = pd.unique(df['Hospital'])

In [23]:
dic = {}
for i in hosp_arr:
    n = df[df['Hospital'] == i]   
    dic[i] = sum(n['Billing Amount'])